.parentBox {
  width: 80%;
  overflow: hidden;
  margin: auto;
  margin-top: 100px;
  /* background-color: aqua; */
}

.foto {
  float: left;
  width: 50%;
  height: 700px;
  background-color: #e3e9ee;
}

.foto img {
  width: 100%;
}

.deskripsi {
  width: 50%;
  overflow: hidden;
  float: right;
  margin-left: 0%;
  position: relative;
  left: 20px;
}

.deskripsi .info {
  line-height: 1.8;
  color: rgb(18, 11, 49);
}

.deskripsi .price {
  font-size: 20px;
  font-weight: 500;
}

.deskripsi .title {
  margin: 0;
}

.deskripsi .cate {
  color: #acaeb2;
}

.title {
  font-size: 46px;
  font-weight: 500;
}

.tes {
  width: 20%;
  position: relative;
  top: 100px;
}

.space {
  margin-left: 80px !important;
}

.keranjang {
  width: 20%;
}

.price {
  color: green;
}

.kanan {
  position: relative;
  float: left;
  left: 175px;

}

.judul-page {
  font-size: 36px;
}